wheel
netshow-core-lib
netshow-core
netshow-linux-lib
sphinx-bootstrap-theme
network-docopt
git+http://github.com/CumulusNetworks/cumulus-platform-info
gitversion
tox
setuptools
pip>=7.0.3
stdeb
https://launchpad.net/python-distutils-extra/trunk/2.38/+download/python-distutils-extra-2.38.tar.gz
